html, body {
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
}

#container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

body {
  background: linear-gradient(45deg, #8200ff, #ff6700, #6deaca, #8200ff);
  background-size: 300% 300%;

  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;

}
@-webkit-keyframes Gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

@-moz-keyframes Gradient {
  0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

@keyframes Gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

@font-face{
    font-family: "CircularStd-Book";
    src: url('/fonts/CircularStd-Book.otf'),
    url('/fonts/CircularStd-Book.eot'); /* IE */
}

@font-face{
    font-family: "Menlo";
    src: url('/fonts/Menlo-Regular.ttf'),
    url('/fonts/Menlo-Regular.eot'); /* IE */
}

h3{
    font-family: Garamond;
	font-style:  italic;
    font-weight:normal;
    font-size:  200%;
    color: white;
    margin: 0;
}

h1{
    font-family: CircularStd-Book;
    font-weight:normal;
    font-size:  400%;
    color: white;
    margin: 0;
}

h2, h6 {
    font-family: CircularStd-Book;
    font-weight:normal;
    color: white;
		font-size:  130%;
    margin: 0;
}

a{
    color: white;
    text-decoration: none
}
a:visited{
    color: white;
}

a:hover{
    color: #cccccc;
}
