html, body {
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
}

body {
  background: linear-gradient(270deg, #5e17d3, #34dcee);
  background-size: 300% 300%;

  -webkit-animation: Gradient 30s ease infinite;
  -moz-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;

}
@-webkit-keyframes Gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

@-moz-keyframes Gradient {
  0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

@keyframes Gradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

@font-face{
    font-family: "CircularStd-Book";
    src: url('/fonts/CircularStd-Book.otf'),
    url('/fonts/CircularStd-Book.eot'); /* IE */
}
@font-face{
    font-family: "Menlo";
    src: url('/fonts/Menlo-Regular.ttf'),
    url('/fonts/Menlo-Regular.eot'); /* IE */
}

h5{
    font-family: CircularStd-Book;
    font-weight:normal;
    font-size:  200%;
    color: white;
    margin: 0;
}

p {
    font-family: CircularStd-Book;
    font-weight:normal;
    color: white;
    margin: 0;
}

p a{
    color: white;
    text-decoration: none
}
p a:visited{
    color: white;
}
