<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>I'm a senior at  <a class="underline-link" href="http://www.upenn.edu/fisher" target="_blank">The University of Pennsylvania</a> in Philadelphia with a background in software engineering, management and product design. I work as a freelance product designer for <a class="underline-link" href="https://enclave.design/" target="_blank">Enclave</a> and have previously interned at <a class="underline-link" href="https://snap.com/" target="_blank">Snap Inc.</a> and at <a class="underline-link" href="https://fb.com/careers" target="_blank">Facebook</a>. I will join Snap's Camera Platform team as a full-time engineer building augmented reality experiences in the fall of 2018.

    <p> I value creative freedom above all else, and work best in fast-paced environments that embrace prototyping as a central tenet of product development. My current interests lie in how augmented and virtual reality is redefining human-computer interaction, storytelling, and the way we consume and create content.</p>

    <p><strong>Outside of debugging my code</strong> you can find me reading, watching movies or playing my synth.</p>

    {% include link_to_portfolio.html %}
  </div>
</section>
